torch==2.0.1
torchvision==0.15.2
numpy==1.23.5
scipy==1.10.1
scikit-image==0.21.0
opencv-python==4.8.0.74
pillow==9.5.0
diffusers==0.24.0
transformers==4.34.0
accelerate==0.22.0
tqdm==4.66.1
ultralytics==8.0.130
setuptools==68.2.2
